data/*
results/
logs/
**__pycache__/

*.log

**/.DS_Store
**/.history
**/.vscode
**/PPO-simple
**/RL4LMs
**/envs
**/wandb

!data/*.smi
!data/*.json

# Antonis
**/palm-rlhf-pytorch
**/eddie.yaml
./src/wandb/
**/PS-VAE
**/PPO-psvae/data/
**/src/models
**.prof
**/src/models
**/src/data
**/src/debug

